*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-size: 20px;
	overflow-x: hidden;
	color: #fff;
	font-family: 'Anton', sans-serif;
	background-image: url('../IMAGES1/BG01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
header
{
	height: 100px;
	padding: 0 20px;
	color: white;
}
.clearfix:after
{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row
{
	max-width: 1180px;
	margin-left: 80px; 
}
.sign_up_form
{
	margin: 100px auto;
	width: 400px;
	height: 380px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
	background: black;
	border: 3px solid white;
	padding: margin;
	text-align: center;
	color: white;
}
p
{
	font-size: 16px;
}
.input-box
{
	border-radius: 0px;
	padding: 10px;
	margin: 10px 0;
	width: 90%;
	border :1px solid black;
	outline: none;
}
button
{
	color: black;
	width: 50%;
	border-radius: 0px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	margin: 10px 0;
	outline: none;
}
.sign-btn
{
	background-color: white;
	color: black;
	border :1px solid white;
}
.sign-btn:hover
{
	background-color: black;
	color: white;
}
img
{
	width: 100px;
	height: auto;
	margin-top: -57px;
}
nav ul
{
	float:right;
	margin-top: 60px;
}
nav ul li
{
	display :inline-block;
	list-style: none;
	margin-left: 40px;
}
nav ul li a
{
	color: white;
	text-decoration: none;
	font-size: 110%;
	font-weight: 100px;
	padding: 5px 5px;
	border-radius: 3px;
}
a.active,a:hover
{
	background: black;
	transition: 0.5s;
}
.main_navi li a:hover
{
	border-bottom: 5px solid white;
}
.content_header
{
	position: absolute;
	top: 40%;
	left: 6%;
}
